html,body{
    margin: 0;
}

.card-container{
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #3f3c3c !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    /* gap: 2rem; */
}

.card .image{
    width: 100%;
    padding: 1rem;
    /* height: 100px; */
    object-fit: cover;
    transition: transform 1s;

    &:hover{
        transform: scale(1.1);        
    }
}

.card{
    width: 25%;
    height: 250px;
    padding: 2rem;
    background-color: #3f3c3c;
}

.card .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h3{
    color: #E76F51;
    text-transform: capitalize;
}

.card p{
    color: #6C6C6C;
}

.bottom p:first-child{
    color: #198754;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}

.bottom p button{
    background-color: #E76F51;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #E76F51;

    &:hover{
        /* color: #E76F51; */
    border-color: #E76F51;

        background-color: #E76F51;
    }
}

.card a{
    text-decoration: none;
    color: inherit;
}

.sideBar{
    width: 40%;
    background-color: #fff;
    padding: 2rem;
}

.sideBar h2{
    color: #E76F51;
    text-transform: uppercase;
    font-weight: 700;

}

@media (min-width: 1024px) {
    .card{
        width: 30%;
        
    }
}

@media (width >= 320px) and (width <= 550px){
    .card{
        width: 100%;
    }
}
